# 튜플튜플

In [1]:
data = ("사과", "배", "포도", "토마토", "딸기")

print(data)
print(type(data))

('사과', '배', '포도', '토마토', '딸기')
<class 'tuple'>

In [3]:
data[0] = 100 #튜플은수정이안댄다

TypeError: 'tuple' object does not support item assignment

In [4]:
data = (100, 200, 100, 300, 100, 500)
print(type(data))

<class 'tuple'>

In [5]:
print(data.count(100))

3

In [6]:
data = (100, 200, 100, 300, 100, 500)

In [8]:
print(data[2:4])

(100, 300)

In [9]:
data1 = ("사과", "배", "포도", "토마토", "딸기")
data2 = (100, 200, 300, 400, 500)

In [10]:
data = data1 + data2
print(data)

('사과', '배', '포도', '토마토', '딸기', 100, 200, 300, 400, 500)

In [11]:
print(data1*2)

('사과', '배', '포도', '토마토', '딸기', '사과', '배', '포도', '토마토', '딸기')

# 세트세트

In [12]:
data = {100, 200, 300}

In [13]:
print(type(data))

<class 'set'>

In [15]:
data[0:4] #세트는 인덱싱슬라이싱 불가능

TypeError: 'set' object is not subscriptable

In [16]:
data.add(700)
print(data)

{200, 700, 100, 300}

In [18]:
data = {100}
print(data)

{100}

In [19]:
data.update([200, 300, 400, 500, 600])
print(data)

{100, 200, 300, 400, 500, 600}

In [20]:
data.remove(600)
print(data)

{100, 200, 300, 400, 500}

In [21]:
data.clear()
print(data)

set()

In [22]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}

In [23]:
print(A.intersection(B))

{200, 100, 300}

In [24]:
print(A.difference(B))

{400, 500}

In [25]:
print(A.union(B))

{100, 200, 300, 400, 500, 150, 250}

In [26]:
print(A.symmetric_difference(B))

{400, 500, 150, 250}

In [27]:
data = {"사과": 300, "배":200, "포도":500, "딸기": 700}
print(type(data))

<class 'dict'>

In [29]:
print(data["사과"])
print(data.get("사과"))

300
300

In [30]:
data["메론"] = 1000
print(data)

{'사과': 300, '배': 200, '포도': 500, '딸기': 700, '메론': 1000}

In [31]:
data.pop("사과")
print(data)

{'배': 200, '포도': 500, '딸기': 700, '메론': 1000}

In [32]:
print(sorted(data))

['딸기', '메론', '배', '포도']

In [33]:
print(sorted(data.values()))

[200, 500, 700, 1000]