In [6]:
import numpy as np  
import pandas as pd 

df = pd.DataFrame([100, 150, 200, 250, 300], columns=['numbers'], index=['a','b','c','d','e'] )
df

   numbers
a      100
b      150
c      200
d      250
e      300

In [7]:
df.sum()

numbers    1000
dtype: int64

In [8]:
df.numbers**2

a    10000
b    22500
c    40000
d    62500
e    90000
Name: numbers, dtype: int64

In [9]:
df['values'] = (10, 50, 40, 30, 60)
df

   numbers  values
a      100      10
b      150      50
c      200      40
d      250      30
e      300      60

In [10]:
del df['values']
df

   numbers
a      100
b      150
c      200
d      250
e      300

In [13]:
df_1=pd.DataFrame(['1','2','3'], columns=['A'])
df_2=pd.DataFrame(['4','5','6','7'], columns=['B'])
df = df_1.join(df_2,how='outer')
df

     A  B
0    1  4
1    2  5
2    3  6
3  NaN  7

In [14]:
import pandas as pd
import numpy as np

In [15]:
df=pd.DataFrame(np.random.rand(5,5))
df.columns = ['A','B','C','D','E']

df

          A         B         C         D         E
0  0.016571  0.909005  0.441975  0.093814  0.176405
1  0.139528  0.420808  0.256268  0.812414  0.367537
2  0.580494  0.339343  0.892804  0.231986  0.895582
3  0.385288  0.691608  0.521233  0.991975  0.204524
4  0.040516  0.449313  0.766792  0.579953  0.337061

In [16]:
df.max()

A    0.580494
B    0.909005
C    0.892804
D    0.991975
E    0.895582
dtype: float64

In [17]:
df.min()

A    0.016571
B    0.339343
C    0.256268
D    0.093814
E    0.176405
dtype: float64

In [18]:
df.mean()

A    0.232479
B    0.562015
C    0.575814
D    0.542028
E    0.396222
dtype: float64

In [19]:
df.std()

A    0.243193
B    0.234212
C    0.254930
D    0.378821
E    0.291012
dtype: float64

In [20]:
df.cumsum()

          A         B         C         D         E
0  0.016571  0.909005  0.441975  0.093814  0.176405
1  0.156099  1.329813  0.698243  0.906228  0.543942
2  0.736593  1.669156  1.591047  1.138214  1.439523
3  1.121881  2.360763  2.112280  2.130189  1.644047
4  1.162397  2.810076  2.879072  2.710142  1.981108

In [21]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.232479  0.562015  0.575814  0.542028  0.396222
std    0.243193  0.234212  0.254930  0.378821  0.291012
min    0.016571  0.339343  0.256268  0.093814  0.176405
25%    0.040516  0.420808  0.441975  0.231986  0.204524
50%    0.139528  0.449313  0.521233  0.579953  0.337061
75%    0.385288  0.691608  0.766792  0.812414  0.367537
max    0.580494  0.909005  0.892804  0.991975  0.895582

In [22]:
df['division'] = ['X','Y','X','Y','Z']
df

          A         B         C         D         E division
0  0.016571  0.909005  0.441975  0.093814  0.176405        X
1  0.139528  0.420808  0.256268  0.812414  0.367537        Y
2  0.580494  0.339343  0.892804  0.231986  0.895582        X
3  0.385288  0.691608  0.521233  0.991975  0.204524        Y
4  0.040516  0.449313  0.766792  0.579953  0.337061        Z

In [23]:
df.groupby(['division']).mean()

                 A         B         C         D         E
division
X         0.298533  0.624174  0.667390  0.162900  0.535993
Y         0.262408  0.556208  0.388751  0.902195  0.286030
Z         0.040516  0.449313  0.766792  0.579953  0.337061